.body--dark {
  .card {
    color: var(--q-color-text-in-dark);
    background: var(--q-color-section-in-dark);
    position: relative;
  }

  .text-system-primary {
    color: var(--q-color-system-primary-in-dark) !important;
  }

  .bg-system-primary {
    background-color: var(--q-color-system-primary-in-dark) !important;
  }

  .text-section {
    color: var(--q-color-section-in-dark) !important;
  }

  .bg-section {
    background: var(--q-color-section-in-dark) !important;
  }

  .text-page {
    color: var(--q-color-page-in-dark) !important;
  }

  .bg-page {
    background: var(--q-color-page-in-dark) !important;
  }

  .text-default {
    color: var(--q-color-text-in-dark) !important;
  }

  .bg-default {
    background: var(--q-color-text-in-dark) !important;
  }

  .system-btn:hover, .q-btn.system-primary-hover:hover {
    transition: 0.5s;
    -webkit-box-shadow: -1px 1px 1px 0px var(--q-color-system-primary-in-dark);
    -moz-box-shadow: -1px 1px 1px 0px var(--q-color-system-primary-in-dark);
    box-shadow: -1px 1px 1px 0px var(--q-color-system-primary-in-dark);
    color: var(--q-color-system-primary-in-dark) !important;
  }

  hr.green-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(164, 255, 145, 0), rgba(164, 255, 145, 0.75), rgba(164, 255, 145, 0));
  }

  hr.section-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(229, 230, 232, 0), rgba(229, 230, 232, 0.75), rgba(229, 230, 232, 0));
  }

  hr.title-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(164, 255, 145, 0.5), rgba(164, 255, 145, 0.75), rgba(164, 255, 145, 0));
  }

  .system-primary-link:hover, .system-primary-hover:hover {
    color: var(--q-color-system-primary-in-dark) !important;
    transition: 0.5s;
  }

  .system-header {
    @extend .bg-blur
  }

  .system-layout .q-drawer {
    background: rgba(0, 0, 0, 0.4);
  }

  .system-drawer {
    @extend .bg-blur
    //background-image: linear-gradient(to top, #4c7753, #2c6456, #1d5052, #1f3b45, #1f2830, #1d2026, #18191c, #121212, #121212, #121212, #121212, #121212);
  }
}
